<h1>Welcome!</h1>

<div class="play-container">
  <p>You've clicked <span (click)="countClick()">this</span> {{clickCounter}} times</p>
</div>


<div class="play-container">
  <p>
    <label for="name">Name
      <input id="name" type="text" [(ngModel)]="name">
    </label>
    <br>
    <strong>You said:</strong> {{name}}
  </p>
</div>


<div class="play-container hover" [ngClass]="setClass()">

<ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none" >
  <p>The Click Counter Is Greater Than 4</p>
</ng-template>
  <ng-template #none>
    <p>The Click Counter Is Less Than 4</p>
  </ng-template>
</div>


