span{
  font-weight: bold;
  background: lightgray;
  padding: .3em .8em;
  cursor: pointer;
  user-select: none;
}


.play-container{
  padding: 3em;
  border: 1px solid lightgray;
  margin-bottom: 1em;

  input{
    padding: 1em;
    margin-bottom: 2em;
  }
}

.greater{
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

.less{
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}


.play-container.hover{
  &:hover{
    transform: scale(1.1);
  }
}
